html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-black-text: #000000;
  --main-grey-text: #212121;
  --main-lightgrey-text: #757575;
  --white-text: #ffffff;
  --accent-color: #2196f3;
  --bcg-dark: #2f303a;
  --bcg-white: #ffffff;
  --bcg-lightgrey: #e5e5e5;
  --bcg-grey: #f5f4fa;
}

/* Body */
body {
  background-color: var(--bcg-white);
  color: var(--main-lightgrey-text);
  font-family: Roboto, sans-serif;
  margin: 0;
}

/* Button */

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  min-width: 140px;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--white-text);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}

.button.secondary {
  background-color: #f5f4fa;
  color: var(--main-grey-text);
  padding: 6px 22px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button.secondary:hover {
  background-color: var(--accent-color);
  color: var(--white-text);
}

/* List */
.list {
  list-style: none;
  padding: 0;
}

/* Link */
.link {
  text-decoration: none;
}

/* Container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Modals */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 300px;
  min-width: 400px;
  padding: 15px;
  background-color: #fff;
}

/* Header */

.header {
  min-height: 84px;
}

.header-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bcg-white);
  border-bottom: 1px solid #1b1717;
  z-index: 10;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--main-black-text);
  font-family: Raleway, sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo:hover {
  color: var(--accent-color);
}

.logo-first {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin: 0;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item {
  position: relative;
}

/* .site-nav:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  display: none;
  background-color: var(--bcg-dark);
  padding: 0;
  margin: 0;
  list-style: none;
}

.submenu > .item {
  padding-top: 5px;
}

.submenu .a {
  text-decoration: none;
} */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.item.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link,
.header-contacts .link:visited {
  color: var(--main-lightgrey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

.contacts-content:hover > .header-icon,
.contacts-content:focus > .header-icon {
  fill: var(--accent-color);
}

.header-icon {
  fill: var(--main-lightgrey-text);
}

.contacts-content {
  display: flex;
  align-items: center;
}
.header-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* Footer */

.footer-section {
  background-color: var(--bcg-dark);
}

.footer-container {
  display: flex;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 60px;
  margin-bottom: 20px;
}
.logo-second {
  color: var(--white-text);
}

.footer-section .address {
  color: var(--white-text);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

.footer-section .contacts {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-section .email {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-section .contacts:hover,
.footer-section .contacts:focus {
  color: var(--accent-color);
}

.container-social {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-left: 70px;
}

.social-title {
  color: var(--white-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-social .item + .item {
  margin-left: 10px;
}

.footer-social > .item {
  display: flex;
  background-color: #44454e;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social > .item:hover,
.footer-social > .item:focus {
  background-color: var(--accent-color);
  transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text);
  transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section */

.section {
  padding-bottom: 94px;
}

.section-wide {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--main-grey-text);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* Герой */
.hero {
  background-image: url(../images/hero.jpeg);
  background-color: #c4c4c4;
  text-align: center;
  height: 600px;
}

.hero-content {
  margin: auto;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Преимущества */

.hidden-title {
  visibility: hidden;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.feature-list {
  display: flex;
  padding: 0;
  margin-top: 94px;
  margin-bottom: 0;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features-card {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bcg-grey);
}

.features-svg {
  display: block;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.feature-list .title {
  color: var(--main-grey-text);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.feature-list p {
  color: var(--main-lightgrey-text);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем занимаемся */
.works {
  display: flex;
  flex-wrap: wrap;
}

/* .thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  color: var(--white-text);
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
} */

.test-bcg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  color: var(--white-text);
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
}

.test-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb > img {
  display: block;
}

.works .item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.works .item:nth-child(3n) {
  margin-right: 0;
}

/* Наша команда */
.team {
  background-color: var(--bcg-grey);
}

.team-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.team-list > .item {
  flex-basis: calc(100% / 4 - 30px);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list img {
  display: block;
}

.team-content {
  padding: 10px;
  padding-top: 30px;
  text-align: center;
  background-color: #fff;
}

.team-list .title {
  color: var(--main-grey-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-list p {
  color: var(--main-lightgrey-text);

  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social > .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social .item + .item {
  margin-left: 10px;
}

.team-social > .item:hover,
.team-social > .item:focus {
  background-color: var(--accent-color);
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover > .team-svg,
.item:focus > .team-svg {
  fill: var(--bcg-white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Клиенты */

.clients {
  display: flex;
}

.list-clients {
  padding: 0;
  margin: 0;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .clients-item + .clients-item {
  margin-left: 30px;
}

.clients-item:hover > .clients-svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border: 2px solid var(--accent-color);
}

/* ПОРТФОЛИО */
.set-button {
  display: flex;
  width: 626px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.set-button .item {
  margin-right: 8px;
}

.set-button .item:last-child {
  margin-right: 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item > .link {
  display: inline-block;
}

.portfolio-item img {
  display: block;
}

.portfolio-content {
  border: 1px solid #eee;
  padding-top: 20px;
}

.portfolio-item .title {
  color: var(--main-grey-text);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-item .desc {
  color: var(--main-lightgrey-text);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-thumb:hover .thumb-text {
  opacity: 1;
}

.portfolio-thumb:hover::before {
  opacity: 1;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

/* .portfolio-thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-item:hover .portfolio-thumb::before {
  transform: translateY(0);
} */

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.thumb-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text);
  padding: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 5000ms;
}

/* Форма */

.form {
  width: 600px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-field {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
  font-size: 20px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input::placeholder {
  color: #ccc;
  text-align: right;
}

.group {
  margin-bottom: 20px;
}

.group-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.topic-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic-options li {
  display: flex;
  align-items: center;
}

.topic-options input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.topic-options label {
  font-size: 20px;
  margin-left: 10px;
}

.experience-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.experience-options li {
  display: flex;
  align-items: center;
}

.experience-options input[type="radio"] {
  width: 40px;
  height: 40px;
}

.experience-options label {
  font-size: 20px;
  margin-left: 10px;
}

.form-field .date {
  border-color: violet;
  border-width: 5px;
  border-radius: 4px;
  padding: 20px 40px;
  font-size: 40px;
  color: #2196f3;
  background-color: #ccc;
}

.comment {
  padding: 8px;
}
