/* .test-bcgcolor {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 190px;
  width: calc(50% - 20px);
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.box:nth-child(1) {
  background-color: tomato;
  background-image: url("../images/657343_cat_512x512.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.box:nth-child(2) {
  background-color: teal;
  background-image: url("../images/657343_cat_512x512.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.box:nth-child(3) {
  background-color: yellow;
  background-image: url("../images/657343_cat_512x512.png");
  background-repeat: repeat-y;
  background-position: center;
}

.box:nth-child(4) {
  background-color: blue;
  background-image: url("../images/657343_cat_512x512.png");
}

overlay {
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba (47 48 0 8 rgba)) url();
  background-color: ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.test-button {
  display: inline-flex;
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}

.test-button:hover,
.test-button:focus {
  background-color: pink;
}

.test-button::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: red;
  background-image: url(../images/png-clipart-lazy-cat-yellow-cartoon.png);
  background-size: contain;
}

.test-button > .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: red;
  background-image: url(../images/png-clipart-lazy-cat-yellow-cartoon.png);
  background-size: contain;
}

/* Общие стили для иконок */
.feature-list > .item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: plum;
}

/* Делаем отдельный класс под картинку*/
.feature-list > .icon-delivery::before {
  background-image: url();
}

.feature-list > .item:nth-child(1)::before {
  background-image: url();
}
/* Иконка соцсетей */
.link-test {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url(../images/657343_cat_512x512.png);
  background-color: plum;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.link-test:hover {
  background-color: green;
}
*/


/* Форма */

.form {
  width: 600px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-field {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
  font-size: 20px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input::placeholder {
  color: #ccc;
  text-align: right;
}

.group {
  margin-bottom: 20px;
}

.group-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.topic-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic-options li {
  display: flex;
  align-items: center;
}

.topic-options input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.topic-options label {
  font-size: 20px;
  margin-left: 10px;
}

.experience-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.experience-options li {
  display: flex;
  align-items: center;
}

.experience-options input[type="radio"] {
  width: 40px;
  height: 40px;
}

.experience-options label {
  font-size: 20px;
  margin-left: 10px;
}

.form-field .date {
  border-color: violet;
  border-width: 5px;
  border-radius: 4px;
  padding: 20px 40px;
  font-size: 40px;
  color: #2196f3;
  background-color: #ccc;
}

.comment {
  padding: 8px;
}

/* Форма */

.form {
  width: 600px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-field {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
  font-size: 20px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input::placeholder {
  color: #ccc;
  text-align: right;
}

.group {
  margin-bottom: 20px;
}

.group-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.topic-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic-options li {
  display: flex;
  align-items: center;
}

.topic-options input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.topic-options label {
  font-size: 20px;
  margin-left: 10px;
}

.experience-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.experience-options li {
  display: flex;
  align-items: center;
}

.experience-options input[type="radio"] {
  width: 40px;
  height: 40px;
}

.experience-options label {
  font-size: 20px;
  margin-left: 10px;
}

.form-field .date {
  border-color: violet;
  border-width: 5px;
  border-radius: 4px;
  padding: 20px 40px;
  font-size: 40px;
  color: #2196f3;
  background-color: #ccc;
}

.comment {
  padding: 8px;
}

.form {
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  background-color: teal;
  color: #fff;

  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #2a2a2a;
}

.form-input:focus + .form-label, 
/* выбрать form-label, который идет сразу за form-input, когда у того не показан placeholder */
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
  color: #2196f3;
}

/* .form-input:placeholder-shown {
} */

.form-icon {
  position: absolute;
  top: 50%;
  left: 5px;

  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  background-color: plum;
}

.form-input:focus ~ .form-icon {
  background-color: rosybrown;
}

/* Современное */
/* .form-field:focus-within > .icon{
  background-color: seagreen;
} 
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
  color: #2196f3;
}
*/
